<?xml version="1.0"?>
<launch>

    <arg name="x_pos" default="-0.8"/>
    <arg name="y_pos" default="0.8"/>
    <arg name="z_pos" default="0.0"/>

    <arg name="model" default="$(find kbot_description)/urdf/kbot.xacro"/>
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>  
 
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find kbot_gazebo)/worlds/kbot_world.world"/>
        <arg name="debug" value="false" />
        <arg name="gui" value="true" />
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="verbose" value="true"/>
    </include>

    <node name="robot_state_publisher" pkg="robot_state_publisher" 
    type="robot_state_publisher"/>

    <!--Launch Gazebo Simulator-->
    <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" 
    args="-urdf -param robot_description -model kbot -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos)" output="screen"/>

</launch>